:root {
  --text-color: #232323;
  --background-color: #fbfaf7;
  --header-background-color: #171717;
  --toggle-text-color: #232323;
}

code {
  color: #2b2b2b;
  background-color: #fbfaf7;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

header {
  background-color: var(--header-background-color);
}

[data-theme="dark"] {
  --text-color: #fbfaf7;
  --background-color: #232323;
  --header-background-color: #171717;
  --toggle-text-color: #fbfaf7;
}

[data-theme="dark"] h1,
[data-theme="dark"] h2,
[data-theme="dark"] h3,
[data-theme="dark"] h4,
[data-theme="dark"] h5,
[data-theme="dark"] h6,
[data-theme="dark"] p {
  color: #fbfaf7;
}

[data-theme="dark"] code,
[data-theme="dark"] pre.highlight {
  color: #fbfaf7;
  background-color: #232323;
}