<header class="site-header">
    <div class="site-title">
        <a href="{{ .Site.BaseURL }}">
            <span class="site-name">PIESP Dev</span>
            <span class="site-description">개발 이야기</span>
        </a>
    </div>
    <nav class="main-nav">
        <ul>
            <li><a href="{{ .Site.BaseURL }}">홈</a></li>
            <li><a href="{{ .Site.BaseURL }}posts">포스트</a></li>
            <li><a href="{{ .Site.BaseURL }}categories">카테고리</a></li>
            <li><a href="{{ .Site.BaseURL }}about">소개</a></li>
        </ul>
    </nav>
</header>